# Deep Learning
torch
torchvision

# Data Handling
numpy
pandas

# Image Processing
Pillow
opencv-python

# Data Augmentation
albumentations

# Machine Learning Metrics
scikit-learn

# Visualization
matplotlib
seaborn

# Progress Bar
tqdm

# Jupyter Notebook
jupyter
ipykernel

# Experiment Tracking
tensorboard